name: ${PROJECT_NAME}

networks:
  default:
    name: ${NETWORK_NAME}

services:
  vnc:
    profiles:
      - vnc
    hostname: ${VNC_CONTAINER_NAME}
    container_name: ${VNC_CONTAINER_NAME}
    image: theasp/novnc:latest
    environment:
      - VNC_WIDTH=${VNC_WIDTH}
      - VNC_HEIGHT=${VNC_HEIGHT}
      - RUN_XTERM=no
    ports:
      - ${VNC_PORT}:8080
    attach: false

  builder:
    hostname: ${BUILD_CONTAINER_NAME}
    container_name: ${BUILD_CONTAINER_NAME}
    network_mode: ${NETWORK_MODE}
    user: ${CONTAINER_UID}:${CONTAINER_GID}
    command: ["build", "-l", "-b", "${BUILD_TYPE}"]
    group_add:
      - root
      - kmem
      - gpio
    privileged: true
    build:
      context: .
      dockerfile: .docker/builder/${PLATFORM_TAG}/Dockerfile
      args:
        - WORKDIR=${CONTAINER_MOUNT_DIRECTORY}
        - BUILD_IMAGE_NAME=${BUILD_IMAGE_NAME}
        - LLVM_VERSION=${LLVM_VERSION}
        - CMAKE_VERSION=${CMAKE_VERSION}
    image: ${BUILD_IMAGE_NAME}:${PLATFORM_TAG}
    volumes:
      - .:${CONTAINER_MOUNT_DIRECTORY}
      - venv:${CONTAINER_MOUNT_DIRECTORY}/.venv
      - ccache:/ccache
      - ${DISPLAY_MOUNT}:/tmp/.X11-unix
    environment:
      - DISPLAY=${DISPLAY_NAME}
      - XDG_RUNTIME_DIR=/run/user/${CONTAINER_UID}
      - CCACHE_DIR=/ccache
    env_file:
      - .env
    entrypoint: ["./bls"]

  debugger:
    profiles:
      - debug
    extends:
      service: builder
    user: 0:0
    command: ["debug", "--listen", "${DEBUG_PORT}", "--min-server-port", "${DEBUG_SERVER_PORT_MIN}", "--max-server-port", "${DEBUG_SERVER_PORT_MAX}", "all"]
    privileged: true
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    hostname: ${DEBUG_CONTAINER_NAME}
    container_name: ${DEBUG_CONTAINER_NAME}
    ports:
      - ${DEBUG_PORT}:${DEBUG_PORT}
      - ${DEBUG_SERVER_PORT_MIN}-${DEBUG_SERVER_PORT_MAX}:${DEBUG_SERVER_PORT_MIN}-${DEBUG_SERVER_PORT_MAX}
    depends_on:
      builder:
        condition: service_completed_successfully

  master:
    hostname: ${MASTER_HOSTNAME}
    container_name: ${MASTER_HOSTNAME}
    command: ${DEPLOY_SRC}
    build:
      context: .
      dockerfile: .docker/master/Dockerfile
      args:
        - WORKDIR=${CONTAINER_MOUNT_DIRECTORY}
    image: ${MASTER_IMAGE_NAME}
    develop:
      watch:
        - action: sync+restart
          path: ${MASTER_PROGRAM_NAME}
          target: ${MASTER_PROGRAM_NAME}
    expose:
      - ${MASTER_PORT}
    pid: ${DEPLOY_NAMESPACE}
    volumes:
      - ./${BUILD_OUTPUT_DIRECTORY}:${CONTAINER_MOUNT_DIRECTORY}/build
      - ./samples/src:${CONTAINER_MOUNT_DIRECTORY}/samples/src
    environment:
      - DEPLOY_NAMESPACE=${DEPLOY_NAMESPACE}
    env_file:
      - .env
    depends_on:
      builder:
        condition: service_completed_successfully

  client:
    cap_add:
      - SYS_ADMIN
    build:
      context: .
      dockerfile: .docker/client/Dockerfile
      args:
        - WORKDIR=${CONTAINER_MOUNT_DIRECTORY}
    image: ${CLIENT_IMAGE_NAME}

    deploy:
      mode: replicated
      replicas: ${NUM_CLIENTS}
    develop:
      watch:
        - action: sync+restart
          path: ${CLIENT_PROGRAM_NAME}
          target: ${CLIENT_PROGRAM_NAME}
    expose:
      - ${BROADCAST_PORT}
    pid: ${DEPLOY_NAMESPACE}
    volumes:
      - ./${BUILD_OUTPUT_DIRECTORY}:${CONTAINER_MOUNT_DIRECTORY}/build
      - ./samples/client:${CONTAINER_MOUNT_DIRECTORY}/samples/client
      - ${DISPLAY_MOUNT}:/tmp/.X11-unix
    environment:
      - DEPLOY_NAMESPACE=${DEPLOY_NAMESPACE}
      - DISPLAY=${DISPLAY_NAME}
      - XDG_RUNTIME_DIR=/run/user/${CONTAINER_UID}
    env_file:
      - .env
    depends_on:
      builder:
        condition: service_completed_successfully

volumes:
  venv:
    name: ${PROJECT_PREFIX}_venv
  ccache:
    name: ${PROJECT_PREFIX}_ccache
  nullvolume: